{{!< default}}

<main class="site-main">

    <div class="post-feed gh-feed gh-canvas">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

    {{pagination}}

    {{#if @custom.show_tag_counts}}
        {{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
            {{#if tags}}
                <div class="tag-counts gh-canvas">
                    {{#foreach tags}}
                        <a href="{{url}}" class="tag-count-item">{{name}}({{count.posts}})</a>
                    {{/foreach}}
                </div>
            {{/if}}
        {{/get}}
    {{/if}}

</main>