.load-more {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.tag-counts {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin-top: 48px;
    padding: 24px 0;
    line-height: 1.8;
}

.tag-count-item {
    text-decoration: none;
    color: var(--color-secondary-text);
    font-size: 0.9rem;
    transition: color 0.2s ease;
    white-space: nowrap;
}

.tag-count-item:before {
    content: "# ";
}

.tag-count-item:hover {
    color: var(--color-darker-gray);
}
